<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Manipulation de vue</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

<div id="monapp">
	<h3>Choisissez la couleur (rouge ou bleu) :</h3>
	<label><input type="radio" value="red" v-model="color" /> Rouge</label>
	<label><input type="radio" value="blue" v-model="color" /> Bleu</label>

	<div style="margin-top:1rem">
		<label><input type="checkbox" v-model="visible" /> Afficher le paragraphe</label>
	</div>

	<p v-if="visible" :style="{ color: color }">Paragraphe contrôlé : sa couleur est {{ color }}.</p>
</div>


<script>
	const appli = {
		data () {
			return {
				color: 'red',
				visible: true
			}
		}
	};
	
Vue.createApp(appli).mount("#monapp");
</script>

</body>
</html>